<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="service-categories">Compute;Database;Storage;Analytic;Network;Integration;Administration</entry>
    <entry key="service-instance-type">General;Compute-optimized;RAM-optimized;Storage-optimized;Burst;GPU</entry>
    <entry key="service-usage-type">On-Demand;Reserved;Spot</entry>
    <entry key="service-usage-period">Hourly;Monthly;One Year;Three Years</entry>
    <entry key="service-usage-prepay">None;Partial;Full</entry>
    <entry key="service-location">US-California;US-North Virginia;Brasil-São Paulo;CA-Central;EU-Ireland;EU-London;EU-Frankfurt;Asia-Hong Kong;Asia-Singapur;Asia-Tokyo;Asia-Mumbai;Asia-Seoul</entry>
    <entry key="service-property-period">Per Hour;Per Day;Per Month</entry>
    <entry key="service-operating-mode">On-Premise;Off-Premise;Optional</entry>

    <entry key="compute-type">VM;Container;App;Batch;Code;Load Balancer</entry>
	<entry key="compute-container-type">Standard;Kubernetes</entry>
    <entry key="compute-os">Windows;Linux;CentOS;Ubuntu;Red Hat;SUSE;Debian</entry>
    <entry key="compute-app-language">Python;Java;PHP;Ruby;Node.js;.NET;Go;C#;C</entry>

    <entry key="storage-type">Object-Storage;Block-Storage;File-Storage</entry>
    <entry key="storage-object-mode">Standard;Archive</entry>
    <entry key="storage-block-mode">HDD;SSD</entry>
    <entry key="storage-file-mode">Standard;Premium</entry>

    <entry key="database-system-type">SQL;NoSQL;Document;Cache</entry>
    <entry key="database-sql-scheme">MySQL;PostgreSQL;MariaDB</entry>

    <entry key="integration-type">Communication</entry>
    <entry key="integration-communication-mode">Messaging;Queueing</entry>

    <entry key="administration-type">Monitoring</entry>
    <entry key="administration-monitoring-mode">User;System</entry>

    <entry key="network-type">VPC;VPN;API;CDN;DNS</entry>

    <entry key="analytic-type">Data Query;Data Share;Data Transfer;Data Stream;Data Catalog;Data Lake;Search Engine</entry>
    <entry key="analytic-instance-type">General;Compute-optimized;RAM-optimized;Storage-optimized</entry>

    <entry key="design-property-labels">Provider:;Primary location:;Primary usage time:;# of Instances:;Requests:;Storage Capacity in TB:</entry>
    <entry key="service-general-labels">Name:;Category:;Service:;Type:</entry>
    <entry key="service-usage-labels">Location:;Usage type:;Usage period:;Usage prepay:;Operating mode:</entry>

    <entry key="compute-vm-labels">Instance type:;Instance hours:;CPU:;RAM in GB:;Operating system:;Transferred data in GB:</entry>
    <entry key="compute-container-labels">Container type:;CPU:;RAM in GB:;Tasks:;Duration in seconds:;Transferred data in GB:</entry>
    <entry key="compute-app-labels">Language:;Compute instance reference:;Storage instance reference:</entry>
    <entry key="compute-batch-labels">Compute instance reference:</entry>
    <entry key="compute-code-labels">Invocations in Mio.:;Duration in seconds:;Storage in MB:</entry>
    <entry key="compute-balancer-labels">Units:;Transferred data in GB:</entry>
    <entry key="storage-object-labels">Storage in TB:;Read requests:;Write requests:;Data queries:;Transferred data in GB:</entry>
    <entry key="storage-block-labels">Snapshot-storage in GB:;Volume-storage in GB:</entry>
    <entry key="storage-file-labels">Storage in GB:;Rate in MB/s:;Transferred data in GB:</entry>
    <entry key="database-sql-labels">Scheme:;Instance type:;CPU:;RAM in GB:;Instance hours:;Storage in GB:;Backup storage in GB:;Transferred data in GB:</entry>
    <entry key="database-nosql-labels">Read queries:;Write queries:;Storage in GB:;Transferred data in GB:</entry>
    <entry key="database-document-labels">Hours:;Requests:;Storage in GB:;Transferred data in GB:</entry>
    <entry key="database-cache-labels">CPU:;RAM in GB:;Hours:;Transferred data in GB:</entry>
    <entry key="analytic-query-labels">Processed data in GB:</entry>
    <entry key="analytic-transfer-labels">On-premise activities:;Off-premise activities:</entry>
    <entry key="analytic-stream-labels">Datasets:;Dataset size in KB:</entry>
    <entry key="analytic-catalog-labels">Units:;Requests:</entry>
    <entry key="analytic-lake-labels">Units:;Processed data in GB:</entry>
    <entry key="analytic-search-labels">Instance type:;CPU:;RAM in GB:;Instance-hours:;Processed data in GB:;Transferred data in GB:</entry>
    <entry key="network-private-labels">Connections:;Transferred data in GB:</entry>
    <entry key="network-api-labels">Requests:;Transferred data in GB:</entry>
    <entry key="network-cdn-labels">Transferred data in GB:;Transferred data in TB into internet:;Http-requests in 10.000:</entry>
    <entry key="network-dns-labels">Zones:;DNS-requests:</entry>
    <entry key="administration-monitoring-labels">Metrics:;Requests:;Data to collect in GB:;Data to save in GB:;Events in Mio.:;Logging:</entry>
    <entry key="integration-messaging-labels">Mode:;Data in GB:;Requests:;Push messages:;Http messages:;Mail messages:;Sms messages:</entry>

    <entry key="provider-services">Amazon Web Services;Windows Azure;Google Cloud Platform</entry>
    <entry key="aws-services">xml/aws-services.xml</entry>
    <entry key="azure-services">xml/azure-services.xml</entry>
    <entry key="gcp-services">xml/gcp-services.xml</entry>
    <entry key="services">xml/services.xml</entry>

    <entry key="about-text">This tool is the result of the master thesis.</entry>
</properties>